.conteiner{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.min-hight{
    height: 100%;
}
.start{
    justify-content: flex-start;
}

.colum{
    flex-direction: column;
    justify-content: flex-start;
}